<svg
  viewBox="0 0 [svg-width] [svg-height]"
  height="[svg-height]pt"
  width="[svg-width]pt"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    [gradient]
    <path id="box-boundary" d="[box-path(rect-dx: rect-dx, rect-dy: rect-dy, rect-width: rect-width, rect-height: rect-height, radius-tl: radius-tl, radius-tr: radius-tr, radius-bl: radius-bl, radius-br: radius-br)]" />
    <path id="inset-shape" fill-rule="evenodd" d="[box-path(rect-dx: 0, rect-dy: 0, rect-width: svg-width, rect-height: svg-height, radius-tl: 0, radius-tr: 0, radius-bl: 0, radius-br: 0) + box-path(rect-dx: inner-dx, rect-dy: inner-dy, rect-width: inner-width, rect-height: inner-height, radius-tl: radius-tl, radius-tr: radius-tr, radius-bl: radius-bl, radius-br: radius-br)]" />
    <filter id="inset-blur" filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse" x="0" y="0" width="[svg-width]" height="[svg-height]">
      <feGaussianBlur in="SourceGraphic" stdDeviation="[blur-deviation]" />
    </filter>
    <mask id="inset-mask" maskUnits="userSpaceOnUse" x="0" y="0" width="[svg-width]" height="[svg-height]">
      <use href="#inset-shape" fill="white" filter="url(#inset-blur)" />
    </mask>
    <clipPath id="box-clip">
      <use href="#box-boundary" />
    </clipPath>
  </defs>

  <g clip-path="url(#box-clip)">
    <rect x="0" y="0" width="[svg-width]" height="[svg-height]" fill="[fill]" mask="url(#inset-mask)" />
  </g>
</svg>
