<svg
  height="{svg-height}"
  width="{svg-width}"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <filter id="dropShadow" filterUnits="userSpaceOnUse" >
    <feGaussianBlur stdDeviation="{blur}" result="blur" />
    <feFlood in="blur" flood-color="{color}" />
    <feComposite in2="blur" operator="in" result="shadow" />
  </filter>

  <rect height="{rect-height}" width="{rect-width}" x="{x-offset}" y="{y-offset}" rx="{radius}" ry="{radius}" filter="url(#dropShadow)" />
</svg>
