name: Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  0_12_0:
    name: Typst 0.12.0
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install cargo
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: cargo
          version: 1.0

      - name: Install tytanic
        uses: baptiste0928/cargo-install@v3.0.0
        with:
          crate: tytanic
          version: 0.1.3

      - name: Run tests
        run: tt run --no-fail-fast

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: artifacts-0.12.0
          path: |
            tests/**/diff/*.png
            tests/**/out/*.png
            tests/**/ref/*.png
          retention-days: 14

  0_13_0:
    name: Typst 0.13.0
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install cargo
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: cargo
          version: 1.0

      - name: Install tytanic
        uses: baptiste0928/cargo-install@v3.0.0
        with:
          crate: tytanic
          git: https://github.com/tingerrr/tytanic.git
          tag: v0.2.0-rc1

      - name: Run tests
        run: tt run --no-fail-fast

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: artifacts-0.13.0
          path: |
            tests/**/diff/*.png
            tests/**/out/*.png
            tests/**/ref/*.png
          retention-days: 14